@import "@/styles/mixin.scss";

.mainVisual {
  > .imagewrapper {
    width: 100%;
    aspect-ratio: 1/0.42;
    @include tab {
      aspect-ratio: 1/0.9;
    }
    position: fixed;
    z-index: var(--z-index-main-visual);

    > .image {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  > .content {
    width: 100%;
    aspect-ratio: 1/0.42;
    @include tab {
      aspect-ratio: 1/0.9;
    }
    background: linear-gradient(to bottom, transparent, transparent 90%, #fff);
    color: #fff;
    font-weight: 700;
    padding-left: 48px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    > .belonging {
      font-size: 14px;
    }

    > .name {
      font-size: 44px;
    }
  }
}

.mainVisualMargin {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
