.sectionAbout {
  margin-bottom: 80px;

  > .line {
    margin-bottom: 16px;

    > .left {
      width: 110px;
    }

    &.Flex {
      display: flex;
    }
  }

  > .links {
    margin-top: 30px;
    width: 128px;
    display: flex;
    justify-content: space-between;
  }
}
