.sectionAbout {
  margin-bottom: 80px;

  > .line {
    margin-bottom: 16px;

    > .left {
      margin-right: 40px;
    }

    &.Flex {
      display: flex;
    }
  }

  > .links {
    width: 128px;
    display: flex;
    justify-content: space-between;
  }
}
