.topHeader {
  width: 100%;
  position: fixed;
  z-index: var(--z-index-top-header);
  top: 0;
  display: flex;
  justify-content: center;
}

.mainContainer {
  padding: 0 64px;
  background-color: #fff;
}
