@import "@/styles/mixin.scss";

.topHeader {
  width: 100%;
  position: fixed;
  z-index: var(--z-index-top-header);
  top: 0;
  display: flex;
  justify-content: center;
}

.mainContainer {
  padding: 0 10% 0 8%;
  background-color: #fff;

  @include tab {
    padding: 0 80px 0 5%;
  }
}

.canvasWrapper {
  position: fixed;
  top: 0;
  left: 90%;
  transform: translateX(calc((10% - 64px) / 2)); // 右のpaddingの中で中央に配置
  @include tab {
    left: 100%;
    transform: translateX(-72px);
  }
  opacity: 0;
  transition: opacity 1s;
}
