.highlightedItem {
  position: relative;
  margin-bottom: 24px;

  > .leftborder {
    position: absolute;
    height: 100%;
    border-left: 4px solid #000;
  }

  .content:not(:last-child) {
    margin-bottom: 16px;
  }

  .title {
    font-weight: 700;
    color: #000;
  }

  .period {
    font-size: 12px;
    color: #666;
    text-decoration: none;
  }
}
